<div class="playlistMenu1 btn-group hidden-print">
    <etb-edit-btn></etb-edit-btn>
</div>

<div class="playlistMenu2 btn-group hidden-print">
    <a class='btn btn-secondary btn-sm'  (click)="backward()" title="Previous">
        <i class="mdi mdi-arrow-up"></i>
    </a>
    <a class='btn btn-secondary btn-sm'  [style.active]="playActive" (click)="play()" title="Play/Stop">
        <i class="mdi mdi-play"></i>
    </a>
    <a class='btn btn-secondary btn-sm'  (click)="forward()" title="Next">
        <i class="mdi mdi-arrow-down"></i>
    </a>
    <a class='btn btn-secondary btn-sm' [style.active]="collapseActive" (click)="collapse()" title="Collapse/Expand">
        <i class="mdi mdi-arrow-collapse"></i>
    </a>
</div>
