<div class="row">
	<div class="col-xs-1 "></div>
	<div class="col-xs-11">
		<div class="card col-xs-8">
  			<div class="card-block">
				<div class="col-xs-3 "><small>Title:</small></div>
    			<input #inputTuneBookName class="form-control form-control-xs " [(ngModel)]="tuneBook.name" 
                    (keydown)="handleKeyDownOnTuneBookName($event)"
                    (blur)="handleBlurOnTuneBookName($event)">
			</div>	
			<div class="card-block">
				<div class="col-xs-3 "><small>Version:</small></div>
    			<input #inputTuneBookVersion class="form-control form-control-xs " [(ngModel)]="tuneBook.version" 
                    (keydown)="handleKeyDownOnTuneBookVersion($event)"
                    (blur)="handleBlurOnTuneBookVersion($event)">
			</div>
			<div class="card-block">
    			<div class="col-xs-3 "><small>Description:</small></div>
				<input #inputTuneBookDescription class="form-control form-control-xs" [(ngModel)]="tuneBook.description" 
                    (keydown)="handleKeyDownOnTuneBookDescription($event)"
                    (blur)="handleBlurOnTuneBookDescription($event)">
  			</div>
		</div>
	</div>
</div>
