<div 
    class="card col-xl-12" 
    [draggable]="editModus"
    [class.move]="editModus"
    [class.drag-start]="dragStart"
    [class.drag-over]="dragOver" 
    (dragstart)="handleDragStart($event)"
    (dragenter)="handleDragEnter($event)"
    (dragover)="handleDragOver($event)"
    (dragleave)="handleDragLeave($event)"
    (drop)="handleDrop($event)"
    (dragend)="handleDragEnd($event)" 
    [style.background-color]="tune.color.hex">
    
    <a class="btn btn-sm btn-secondary pull-xl-right" (click)="deleteTuneSetPosition($event)" title="Remove Tune from Set" *ngIf="editModus"><i class="mdi mdi-delete"></i></a>
        
    <p >
        <a [routerLink]="['/tunes', tune.id]">{{tune.title | eliminateThe}}</a>
        
    </p>
    <small class="text-muted">{{tune.type}} in {{tune.key}}</small>
    <etb-sampledots [tune]="tune"></etb-sampledots>
    <etb-tune-played class="pull-xl-right"[tune]="tune" *ngIf="!editModus"></etb-tune-played>
</div>


