.setlistMenu1 {
	position: fixed;
	left: 1px;
	top: 130px;
    z-index: 1020;
    width: 40px;
 }

.setlistMenu2 {
	position: fixed;
	left: 1px;
	top: 160px;
    z-index: 1020;
    width: 40px;
 }
 
 .active {
     background-color: #FFF5E0;
 }

 .active > i{
     background-color: FFF5E0;
 }

 :hover > i{
     background-color: lightgray;
}



