<div class="setlistMenu1 btn-group hidden-print">
  <etb-edit-btn></etb-edit-btn>
</div>

<div class="setlistMenu2 btn-group hidden-print">
  <a class="btn btn-secondary btn-sm" title="Random Sort" (click)="sortRandom()" [class.active]="sortSettings.tuneSetListSort==='random'">
    <i class="mdi mdi-shuffle"></i>
  </a>

  <a class="btn btn-secondary btn-sm" title="Playdate Sort" (click)="sortPlaydate()" [class.active]="sortSettings.tuneSetListSort==='playDate'">
    <i class="mdi mdi-history"></i>
    <i *ngIf="sortSettings.tuneSetListSort==='playDate' && sortSettings.tuneSetListAscending" class="mdi mdi-sort-ascending"></i>
		<i *ngIf="sortSettings.tuneSetListSort==='playDate' && !sortSettings.tuneSetListAscending" class="mdi mdi-sort-descending"></i>
  </a>

  <a class="btn btn-secondary btn-sm" title="Numeric Sort" (click)="sortId()" [class.active]="sortSettings.tuneSetListSort==='id'">
    <i class="mdi mdi-sort-numeric"></i>
    <i *ngIf="sortSettings.tuneSetListSort==='id' && sortSettings.tuneSetListAscending" class="mdi mdi-sort-ascending"></i>
		<i *ngIf="sortSettings.tuneSetListSort==='id' && !sortSettings.tuneSetListAscending" class="mdi mdi-sort-descending"></i>
  </a>

  <a class="btn btn-secondary btn-sm" title="Only checked Sets" [class.active]="applySetIds" (click)="filterSets()">
    <i class="mdi mdi-check"></i>
  </a>

  <a class="btn btn-secondary btn-sm" title="Add to Playlist" data-toggle="modal" data-target=".bd-example-modal-lg">
    <i class="mdi mdi-playlist-plus"></i>
  </a>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Choose a playlist</h4>
      </div>
      <div class="modal-body">
        <select class="form-control form-control-md" [(ngModel)]="selectedPlaylist">
		      <option [ngValue]="playlist" *ngFor="let playlist of playlists">{{playlist.name}} - {{playlist.band}}</option>
	  	  </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addSelectedSetsToSelectedPlaylist()">Add</button>
      </div>
    </div>
  </div>
</div>