.card {
    margin: 5px;
    padding: 0;
    background: #99EDEA;
}

.card-block, .card-footer {
  background: lightcyan
}

a {
	cursor: pointer;
	color: darkcyan;
}

.deleteArea {
   display: inline-block; 
   width: 15px;
   height: 24px;
   padding-left:10px; 
}

.delete{
    color: red;
    display: none;
}

.deleteArea:hover .delete {
   display: inline-block; 
   text-decoration: none; 
}