<div class="card col-lg-8 playlistPosition">
  <div class="card-block">
    <p>{{playlistPosition.position}}
      <a class='pull-right' (click)="justPlayedTheSet()" title="Just Played The Set"><i class="material-icons">play_circle_outline</i></a>
      <small class="setId">Set {{playlistPosition.tuneSet.tuneSetId}}</small>  
    </p>
    <div class="deleteArea pull-right">
      <a class='delete' (click)="deletePlaylistPosition($event)">X</a>
    </div>
  </div>
  <div class="card-block">
    <div *ng-for="#tuneSetPosition of playlistPosition.tuneSet.tuneSetPositions; #i = index">
      <div class="card tuneSetPosition" [style.background-color]="tuneSetPosition.tune.color.hex">
        <p class="card-title">
          <small class="position">{{tuneSetPosition.position}}</small>
          <a [router-link]="['/Tune', {id: tuneSetPosition.tune.intTuneId}]">{{tuneSetPosition.tune.title | eliminateThe}}</a>
          <small class="repeat">{{tuneSetPosition.currentTuneSetPositionPlayInfo.repeat}}</small>
          <etb-tune-played class="pull-right" [tune]="tuneSetPosition.tune"></etb-tune-played>
        </p>
        <small class="text-muted">{{tuneSetPosition.tune.type}} in {{tuneSetPosition.tune.key}}</small>
        <etb-play-list-tune [tune]="tuneSetPosition.tune"></etb-play-list-tune>
        <div class="card-footer" [style.background-color]="tuneSetPosition.tune.color.hex" [hidden]="!tuneSetPosition.currentTuneSetPositionPlayInfo.annotation">
          <small>{{tuneSetPosition.currentTuneSetPositionPlayInfo.annotation}}</small>  
        </div>
          
        
        
      </div>

<!--
      <div class="card tuneSetPositionPlayInfo" [style.background-color]="tuneSetPosition.tune.color.hex">        
      </div>
-->
      <div class="card partPlayInfo" *ng-for="#partPlayInfo of tuneSetPosition.currentTuneSetPositionPlayInfo.partPlayInfos; #i = index"
      [style.background-color]="tuneSetPosition.tune.color.hex">
        <div class="part">{{partPlayInfo.part}} :</div>
        <div class="playInfo">{{partPlayInfo.playInfo}}</div>
      </div>



    </div>
  </div>
  <div class="card-footer">
    <small>{{playlistPosition.annotation}}</small>
  </div>
</div>