.card {
    margin: 5px;
    padding: 5px;
    background: lightcyan;
}


.playlistPosition {
    min-width: 860px;
}


.tuneSetPositionPlayInfo {
    margin-left: 15px;
}


.partPlayInfo {
    margin-left: 15px;
}

.part {
    margin: 5px; 
    padding: 5px; 
	font-size: 0.8em;
	min-width: 100px;
	max-width: 100px;
	display: inline-block;
	color: black;
}

.playInfo {
    margin: 5px; 
    padding: 5px; 
	font-size: 0.8em;
	min-width: 670px;
	max-width: 670px;
	display: inline-block;
	color: black;
}

.card-block, .card-footer {
  background: lightcyan
}

a {
	cursor: pointer;
	color: darkcyan;
}

.deleteArea {
   display: inline-block; 
   width: 15px;
   height: 24px;
   padding-left:10px; 
}

.delete{
    color: red;
    display: none;
}

.deleteArea:hover .delete {
   display: inline-block; 
   text-decoration: none; 
}