<div class="card">
    <small class="pull-left text-muted">Link</small>
    <div class="card-block" *ngIf="editModus">
        <a class="btn btn-sm btn-secondary float-right"  (click)="deleteInfo()" title="Delete Info"><i class="mdi mdi-delete"></i></a>
    </div>
    <div class="card-block" *ngIf="!editModus">
        <a class="btn btn-sm btn-secondary"  href="{{website.url}}" target="_blank">{{website.url}}</a>
    </div>
    <div class="card-footer" *ngIf="editModus">
        <div class="form-group row website-url-form" >
            <div class="col-sm-12">
                <input #inputWebsiteUrl id="WebsiteUrl" class="form-control form-control-sm" [(ngModel)]="website.url" 
                (keydown)="handleKeyDownOnWebsiteUrl($event)"
                (blur)="handleBlurOnWebsiteUrl($event)">
            </div>
        </div>
    </div>
</div>