<div class="card m-3">
    <div class="card-block">
        <small class="pull-left text-muted">Link</small>
        <a class="btn btn-sm btn-secondary float-right" *ngIf="editModus" (click)="confirmDeleteInfo = true" title="Delete Info"><i class="mdi mdi-delete"></i></a>
    </div>
    <div class="card-block" *ngIf="!editModus">
        <a class="btn btn-sm btn-secondary"  href="{{website.url}}" target="_blank">{{website.url}}</a>
    </div>
    <div class="card-footer" *ngIf="editModus">
        <div class="form-group row website-url-form" >
            <div class="col-sm-12">
                <input #inputWebsiteUrl id="WebsiteUrl" class="form-control form-control-sm" [(ngModel)]="website.url" 
                (keydown)="handleKeyDownOnWebsiteUrl($event)"
                (blur)="handleBlurOnWebsiteUrl($event)">
            </div>
        </div>
    </div>
</div>

<etb-dialog 
    (confirmed)="deleteInfo()" 
    (cancelled)="confirmDeleteInfo = false" 
    [(visible)]="confirmDeleteInfo">
    <div etb-dialog-header>Delete Link</div>
    <div etb-dialog-body>Do you really want to delete this link?</div>
</etb-dialog>