.card {
    margin: 5px;
    padding: 5px;
    background: #F2F2F3;
}


.playlistPosition {
    min-width: 860px;
}

.card-block, .card-footer {
  background: lightcyan
}

a {
	cursor: pointer;
	color: darkcyan;
}
