<div class="card col-sm-12" [style.background-color]="tuneSetPosition.tune.color.hex">
    <div class="row">
        <a class="col-sm-4" [routerLink]="['/Tune', {id: tuneSetPosition.tune.intTuneId}]">{{tuneSetPosition.tune.title | eliminateThe}}</a>
        <div class="col-sm-3">
            <small [hidden]="editModus">{{tuneSetPosition.currentTuneSetPositionPlayInfo.repeat}}</small>
        </div>
        <small [hidden]="editModus" class="col-sm-2 text-muted">{{tuneSetPosition.tune.type}} in {{tuneSetPosition.tune.key}}</small>

        <etb-tune-played  class=" pull-sm-right col-sm-2" [hidden]="editModus" [tune]="tuneSetPosition.tune"></etb-tune-played>
    </div>
</div>