.card {
    margin: 5px;
    padding: 0;
    min-width: 360px;
    max-width: 360px;
    background: lightcyan;
}

.card-block, .card-footer {
  background: lightcyan
}

a {
  /*
  color: darkolivegreen;
  */
  color: darkcyan;
}
