<div class="card col-lg-4">
	<div class="card-block">
    <p class="card-title">
      <a [router-link]="['/Tune', {id: set.tuneSetId}]">Set {{set.tuneSetId}}</a>
      <a class='btn btn-secondary btn-sm pull-right' (click)="justPlayedTheSet()" title="Just Played The Set"><small>Played</small></a>
    </p>
  </div>
  <div class="card-block">
    <set-position [position]="position" *ng-for="#position of set.tuneSetPositions; #i = index"></set-position>
  </div>
  <div class="card-footer">
    <etb-set-playlist-list [set]="set"></etb-set-playlist-list>
  </div>
</div>