<div class="card col-md-6">
  <div class="card-header">
    
    <h5 class="card-title">Filter</h5>
    
    <small class="text-muted">Filter applies to Tunes, Sets, Playlists, Random</small>  
    
  </div>
  
  <div class="card-block" >
    <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="typeFilter">Type</label>
  
                    <div class="col-lg-5">
                        <select class="form-control" id="typeFilter" [(ngModel)]="type" ngControl="type" (change)="setType($event)" >
                            <option *ngFor="#t of types" [value]="t">{{t}}</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label" for="keyFilter">Key</label>

                    <div class="col-lg-5">
                        <select class="form-control" id="keyFilter" [(ngModel)]="key" ngControl="key" (change)="setKey($event)">
                            <option *ngFor="#k of keys" [value]="k">{{k}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="colorFilter">Color</label>
                      <div class="col-lg-5">
                          <select class="form-control" id="colorFilter" [style.background-color]="color" [(ngModel)]="color" ngControl="color" (change)="setColor($event)">
                            <option *ngFor="#c of colors" [value]="c" >{{c}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="eventFilter">Event</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="eventFilter" [(ngModel)]="event" ngControl="event" (change)="setEvent($event)">
                            <option *ngFor="#e of events" [value]="e">{{e}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="bandFilter">Band</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="bandFilter" [(ngModel)]="band" ngControl="band" (change)="setBand($event)">
                            <option *ngFor="#b of bands" [value]="b">{{b}}</option>
                        </select>
                    </div>
                </div>
            </form>
  </div>
  
  <div class="card-footer" >
    
  </div>
</div>