<div class="card col-md-6">
  <div class="card-header">
    
    <h5 class="card-title">Filter</h5>
    
    <small class="text-muted">Filter applies to Tunes, Sets, Playlists, Random</small>  
    
  </div>
  
  <div class="card-block" >
    <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="typeFilter">Type</label>
  
                    <div class="col-lg-5">
                        <select class="form-control" id="typeFilter" ng-control="type" (change)="setType($event)">
                            <option *ng-for="#type of types" [value]="type">{{type}}</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label" for="keyFilter">Key</label>

                    <div class="col-lg-5">
                        <select class="form-control" id="keyFilter" ng-control="key" (change)="setKey($event)">
                            <option *ng-for="#key of keys" [value]="key">{{key}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="colorFilter">Color</label>
                      <div class="col-lg-5">
                          <select class="form-control" id="colorFilter" ng-control="color" (change)="setColor($event)">
                            <option *ng-for="#color of colors" [value]="color" [style.background-color]="color">{{color}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="eventFilter">Event</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="eventFilter" ng-control="event" (change)="setEvent($event)">
                            <option *ng-for="#event of events" [value]="event">{{event}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="bandFilter">Band</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="bandFilter" ng-control="band" (change)="setBand($event)">
                            <option *ng-for="#band of bands" [value]="band">{{band}}</option>
                        </select>
                    </div>
                </div>
            </form>
  </div>
  
  <div class="card-footer" >
    
  </div>
</div>