
<div class="row">
	<div class="col-2">
		<small class="text-muted">R: {{tune.color.red}}</small>	<br>
		<small class="text-muted">G: {{tune.color.green}}</small> <br>
		<small class="text-muted">B: {{tune.color.blue}}</small>	
	</div>
	<div class="col-4">
		<input type="range" min="0" max="255" step="1" [value]="tune.color.red" (input)="changeRed($event)"/>
		<input type="range" min="0" max="255" step="1" [value]="tune.color.green" (input)="changeGreen($event)"/>
		<input type="range" min="0" max="255" step="1" [value]="tune.color.blue" (input)="changeBlue($event)"/>          
	</div>
</div>

