<div class="mdl-grid demo-content">
  <setlist-item [set]="set" *ng-for="#set of sets; #i = index"></setlist-item>
</div>


<!-- CSS-only Accordion: http://codepen.io/nathanlong/pen/mBrvn-->
<!--
<section class="container">
  <div class="ac" *ng-for="#tune of tunes; #i = index" [style.background-color]="tune.color">
    <input class="ac-input" id="ac-1{{tune.intTuneId}}" name="ac-1{{tune.intTuneId}}" type="checkbox" />
    <label class="ac-label" [attr.for]="'ac-1' + tune.intTuneId">{{tune.title | eliminateThe}}</label>
    <article class="ac-text">
      
      <div class="ac-sub">
        <input class="ac-input" id="ac-2{{tune.intTuneId}}" name="ac-2{{tune.intTuneId}}" type="checkbox" (change)="showSampleDots($event)"/>
        <label class="ac-label" [attr.for]="'ac-2' + tune.intTuneId">Incipit</label>
        <article class="ac-sub-text">
          <sampledots [tune]="tune"></sampledots>      
        </article>
      </div>
      
      <div class="ac-sub">
        <input class="ac-input" id="ac-3{{tune.intTuneId}}" name="ac-3{{tune.intTuneId}}" type="checkbox" />
        <label class="ac-label" [attr.for]="'ac-3' + tune.intTuneId">Key</label>
        <article class="ac-sub-text">
            {{tune.key}}
        </article>
      </div>
    </article>
  </div>
</section>
-->


<!-- Bootstrap Accordion combined with responsive Table -->

<!--

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" *ng-for="#tune of tunes; #i = index" [style.background-color]="tune.color">
    <div class="panel-heading" role="tab" id="heading{{tune.intTuneId}}">
      
      <h4 class="panel-title">
        <!-- data-parent="#accordion" bewirkt, dass immer nur ein Tune offen sein kann
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{tune.intTuneId}}" aria-expanded="true" [attr.aria-controls]="'collapse' + tune.intTuneId" >
        -->  
        <!--(show.bs.collapse)="showSampleDots($event)" funktioniert hier nicht -->
    <!--    <a role="button" data-toggle="collapse" href="#collapse{{tune.intTuneId}}" aria-expanded="true" [attr.aria-controls]="'collapse' + tune.intTuneId" >
          <i class="fa fa-question-circle fa-2x fa-fw"></i>{{tune.title | eliminateThe}}
        </a>
      </h4>
      
        
      
    </div>
    <div id="collapse{{tune.intTuneId}}" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading' + tune.intTuneId" >
        <table class="responsive-table">
     <tbody>
      <tr >
        <td data-title=""><a [router-link]="['/tune', {id: tune.intTuneId}]"><sampledots [tune]="tune"></sampledots></a></td>
        <td data-title="Type">{{tune.type}}</td>
        <td data-title="Key">{{tune.key}}</td>
        <td data-title="Played"><div><a class='btn btn-xs btn-default' (click)="justPlayedTheTune(tune)" title="Just Played The Tune">Now</a></div>{{tune.lastPlayed | fromNow}}</td>
        <td data-title="Frequency" data-type="number">{{tune.frequencyPlayed}}</td>
        <td data-title="Modified">{{tune.lastModified | fromNow}}</td>   
      </tr>
    </tbody>
  </table>
  
      
      
      
    </div>
  </div>
</div>
-->

<!-- Bootstrap Accordion -->
<!--
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" *ng-for="#tune of tunes; #i = index" [style.background-color]="tune.color">
    <div class="panel-heading" role="tab" id="heading{{tune.intTuneId}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{tune.intTuneId}}" aria-expanded="true" [attr.aria-controls]="'collapse' + tune.intTuneId">
          {{tune.title | eliminateThe}}
        </a>
      </h4>
    </div>
    <div id="collapse{{tune.intTuneId}}" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading' + tune.intTuneId">
      <div class="panel-body">
        <sampledots [tune]="tune"></sampledots>
      </div>
    </div>
  </div>
</div>
-->

<!-- Responsive Table (Table -> Card)
<div class="container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th scope="col">Tune</th>
        <th scope="col">Incipit</th>
        <th scope="col">Type</th>
        <th scope="col">Key</th>
        <th scope="col">Played</th>
        <th scope="col">Frequency</th>
        <th scope="col">Modified</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="7">Some of these Tunes on Youtube: <a href="http://youtube.com/pianoboxplayer" rel="external">Wikipedia</a> &amp; <a href="http://www.boxofficemojo.com/genres/chart/?id=animation.htm" rel="external">Box Office Mojo</a>. Data is current as of June 2, 2014</td>
      </tr>
    </tfoot>
    <tbody>
      <tr *ng-for="#tune of tunes; #i = index" [style.background-color]="tune.color">
        <th scope="row"><a [router-link]="['/tune', {id: tune.intTuneId}]">{{tune.title | eliminateThe}}</a></th>
        <td data-title="Incipit"><sampledots [tune]="tune"></sampledots></td>
        <td data-title="Type">{{tune.type}}</td>
        <td data-title="Key">{{tune.key}}</td>
        <td data-title="Played"><div><a class='btn btn-xs btn-default' (click)="justPlayedTheTune(tune)" title="Just Played The Tune">Now</a></div>{{tune.lastPlayed | fromNow}}</td>
        <td data-title="Frequency" data-type="number">{{tune.frequencyPlayed}}</td>
        <td data-title="Modified">{{tune.lastModified | fromNow}}</td>   
      </tr>
    </tbody>
  </table>
</div>
-->

<!--
<div class="footer navbar-fixed-bottom"><button class="btn btn-default" ng-click="newTune()" title="New Tune"><i class='glyphicon glyphicon-plus'></i></button></div>
-->
<div class="footer navbar-fixed-bottom"><button class="btn btn-default" ng-click="newTune()" title="New Tune">New Tune</button></div>

