<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="tunemenu">
    <i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-left" for="tunemenu">
    <li class="mdl-menu__item" [router-link]="['/tune', {id: tune.intTuneId}]">Dots</li>
    <li class="mdl-menu__item">Sets</li>
    <li class="mdl-menu__item">Playlists</li>
    <li class="mdl-menu__item">Videos</li>
    <li class="mdl-menu__item" [router-link]="['/tuneabc', {id: tune.intTuneId}]">Abc</li>
    <li class="mdl-menu__item">Practice</li>
    <li class="mdl-menu__item">Info</li>
</ul>