<div class="card"> 
    <div class="card-block">
        <small class="float-left text-muted">Video</small>
        <a class="btn btn-sm btn-secondary float-right" *ngIf="editModus" (click)="confirmDeleteVideo = true" title="Delete Video">
            <i class="mdi mdi-delete"></i>
        </a>
    </div>

    <div class="card-block">
        <iframe class="youtube-player" type="text/html" [src]="videoUrl" frameborder="0"></iframe>
        <small  *ngIf="!editModus">{{video.description}}</small>
    </div>
    
    <div class="card-footer" *ngIf="editModus">
        <div class="form-group row video-code-form" >
            <label for="VideoCode" class="col-4 form-control-label">Youtube Key</label>
            <div class="col-8">
                <input #inputVideoCode id="VideoCode" class="form-control form-control-sm" 
                [(ngModel)]="video.code" 
                (keydown)="handleKeyDownOnVideoCode($event)"
                (blur)="handleBlurOnVideoCode($event)">
            </div>
        </div>
        <div class="form-group row video-description-form" *ngIf="editModus">
            <label for="VideoDescription" class="col-4 form-control-label">Description</label>
            <div class="col-8">
                <input #inputVideoDescription id="VideoDescription" class="form-control form-control-sm" 
                *ngIf="editModus" [(ngModel)]="video.description" 
                (keydown)="handleKeyDownOnVideoDescription($event)"
                (blur)="handleBlurOnVideoDescription($event)">
            </div>
        </div>
    </div>
</div>

<etb-dialog 
    (confirmed)="deleteVideo()" 
    (cancelled)="confirmDeleteVideo = false" 
    [(visible)]="confirmDeleteVideo">
    <div etb-dialog-header>Delete Video</div>
    <div etb-dialog-body>Do you really want to delete this video?</div>
</etb-dialog>