<div class="row">
	<div class="col-xs-1 ">
		<etb-play-list-menu [sets]="sets"></etb-play-list-menu>
	</div>
	<div class="col-xs-11">
		<div class="row">
			<p class="col-xs-4" contenteditable (keydown)="handleKeyDownOnPlaylistName($event)" (blur)="handleBlurOnPlaylistName($event)"> {{playlist.name}} </p>
			<p class="col-xs-4" contenteditable (keydown)="handleKeyDownOnPlaylistBand($event)" (blur)="handleBlurOnPlaylistBand($event)"> {{playlist.band}} </p>
			<p class="col-xs-3" contenteditable (keydown)="handleKeyDownOnPlaylistEvent($event)" (blur)="handleBlurOnPlaylistEvent($event)"> {{playlist.event}} </p>
		</div>
		<div class="row">
			<etb-play-list-item [playlistPosition]="position" *ngFor="#position of playlist.playlistPositions; #i = index"></etb-play-list-item>
		</div>
	</div>
	<!--
	<div class="col-xs-8"></div>
	-->
</div>