<div class="row">
    <div class="col-xs-1 ">
        <etb-tune-menu [tune]="tune"></etb-tune-menu>
    </div>

    <div class="col-xs-11">
        <div class="card col-lg-8" [style.background-color]="tune.color.hex">
            <div class="card-block">
                <etb-tune-dots-menu [tune]="tune"></etb-tune-dots-menu>    
                <etb-tune-dots [tune]="tune"></etb-tune-dots>
            </div>
            <div class="card-footer">
                <etb-tune-actions [tune]="tune"></etb-tune-actions>
            </div>
        </div>
        
        <etb-tune-video-list [tune]="tune"></etb-tune-video-list>

        <etb-tune-set-list [tune]="tune"></etb-tune-set-list>
    </div>
</div>



