<div class="row">
    <div class="col-1 ">
        <etb-playlist-position-menu [playlistPosition]="playlistPosition"></etb-playlist-position-menu>
    </div>

    <div class="col-11">
        <div class="card">
            <div class="row px-4 pt-2">
                <p class="col-4"> <a [routerLink]="['/playlist', playlist.id]">{{playlist.name}}</a></p>
                <p class="col-4"> {{playlist.band}} </p>
                <p class="col-3"> {{playlist.event}} </p>
            </div>
                <etb-playlist-position-set 
                [playlistPosition]="playlistPosition"></etb-playlist-position-set>
            
        </div>
    </div>
</div>
<etb-playlist-position-copier [playlistPosition]="playlistPosition"></etb-playlist-position-copier>