<!--
<button type="button" class="btn btn-default hidden-print" (click)="loadRandomTune()">Random</button>
-->

<!--mdl-button mdl-js-button oder sogar nur die Präsenz des Icons verhindert, dass (click)="loadRandomTune()" funktioniert. warum?-->
<!--
<button class="btn btn-small mdl-button mdl-js-button mdl-button--icon"  (click)="loadRandomTune()">
	<i class="material-icons">transform</i>
</button>
-->
<!--
<a class="btn btn-small"  [router-link]="['/tune', {id: randomTuneId}]">R</a>
-->
<button class="mdl-button mdl-js-button mdl-button--icon" title="Random" [router-link]="['/tune', {id: randomTuneId}]">
	<i class="material-icons">shuffle</i>
</button>

