<div class="row">
    <div class="col-1 ">
        <etb-playlist-menu></etb-playlist-menu>
    </div>
    <div class="col-11">
        <div class="card">
            <div class="row p-4">
                <div class="col">
                    <p *ngIf="!editModus">{{playlist.name}}</p>
                    <input #inputPlaylistName class="form-control form-control-sm" 
                    *ngIf="editModus" [(ngModel)]="playlist.name" 
                    (keydown)="handleKeyDownOnPlaylistName($event)"
                    (blur)="handleBlurOnPlaylistName($event)">
                </div>
                <div class="col">
                    <p *ngIf="!editModus">{{playlist.band}}</p>
                    <input #inputPlaylistBand class="form-control form-control-sm" 
                    *ngIf="editModus" [(ngModel)]="playlist.band" 
                    (keydown)="handleKeyDownOnPlaylistBand($event)"
                    (blur)="handleBlurOnPlaylistBand($event)">
                </div>
                <div class="col">
                    <p *ngIf="!editModus">{{playlist.event}}</p>
                    <input #inputPlaylistEvent class="form-control form-control-sm" 
                    *ngIf="editModus" [(ngModel)]="playlist.event" 
                    (keydown)="handleKeyDownOnPlaylistEvent($event)"
                    (blur)="handleBlurOnPlaylistEvent($event)">
                </div>

                <div class="col  btn-toolbar playlistMenu hidden-print" role="toolbar" *ngIf="editModus">
                    <div class="btn-group" role="group">
                        <a class="btn btn-secondary btn-sm" 
                        (click)="copyPlaylist()" title="Copy Playlist"><i class="mdi mdi-content-copy"></i></a>
                        <a class="btn btn-sm btn-secondary" 
                        (click)="deletePlaylist()" title="Delete Playlist"><i class="mdi mdi-delete"></i></a>
                    </div>
                </div>
            </div>
            
                <etb-playlist-item (copyPlaylistPosition)="setPlaylistPositionToBeCopied($event)" 
                [playlistPosition]="position" 
                *ngFor="let position of playlist.playlistPositions"></etb-playlist-item>
            
        </div>
    </div>
</div>
<etb-playlist-position-copier [playlistPosition]="playlistPositionToBeCopied"></etb-playlist-position-copier>