
<div class="btn-group dotsViewerBtn">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [style.background-color]="tune.color.hex">
        {{ currentState }} 
    </button>
    <div class="dropdown-menu" role="menu" [style.background-color]="tune.color.hex">
        <a class="dropdown-item" [router-link]="['/Tune', {id: tune.intTuneId}]" >Dots</a>
        <a class="dropdown-item" href="" ng-click="showTuneSets()">Sets</a>
        <a class="dropdown-item" href="" ng-click="showPlaylists()">Playlists</a>
        <a class="dropdown-item" href="#tunes/{{intTuneId}}/videos" >Videos</a>
        <a class="dropdown-item" [router-link]="['/Tuneabc', {id: tune.intTuneId}]" >Abc</a>
        <a class="dropdown-item" href="#tunes/{{intTuneId}}/practice" >Practice</a>
        <a class="dropdown-item" href="#tunes/{{intTuneId}}/info" >Info</a>
    </div>
</div>