<div class="card playlistPosition col-sm-10">
    <div class="row col-sm-12">
        <div class="col-sm-1">
            <small>{{playlistPosition.position}}</small>
        </div>

        <div class="col-sm-4">
            <small *ngIf="!editModus">{{playlistPosition.name | eliminateThe}}</small>
            <input class="form-control form-control-sm" *ngIf="editModus" [value]="playlistPosition.name" (keydown)="handleKeyDownOnPlaylistPositionName($event)"
            (blur)="handleBlurOnPlaylistPositionName($event)">
        </div>

        <a *ngIf="!editModus" class='pull-sm-right' (click)="justPlayedTheSet()" title="Just Played The Set"><i class="mdi mdi-play-circle-outline"></i></a>

        <div class="pull-sm-right  btn-toolbar playlistPositionMenu hidden-print" role="toolbar" *ngIf="editModus">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary btn-sm" (click)="copyPlaylistPosition($event)" title="Copy Playlist Position"><i class="mdi mdi-content-copy"></i></a>
                <a class="btn btn-sm btn-secondary" (click)="deletePlaylistPosition($event)" title="Delete Playlist Position"><i class="mdi mdi-delete"></i></a>
            </div>
        </div>
        
    </div>
    <div class="row col-sm-12" *ngFor="#tuneSetPositionPlayInfo of playlistPosition.tuneSetPositionPlayInfos; #i = index">
        <etb-playlist-position-set-position [tuneSetPositionPlayInfo]="tuneSetPositionPlayInfo"></etb-playlist-position-set-position>
    </div>


    <div class="row col-sm-12" *ngIf="playlistPosition.annotation">
        <small>{{playlistPosition.annotation}}</small>
    </div>

</div>