<div class="card playlistPosition col-sm-10">
    <div class="row col-sm-12">
        <div class="col-sm-2">
            <a title="Play Infos" [routerLink]="['/PlaylistPosition', {id: playlistPosition.playlistId, pos: playlistPosition.position}]">
                <small [hidden]="editModus">{{playlistPosition.position}}</small>
            </a>
            <select [hidden]="!editModus" class="form-control" id="positionChooser" [(ngModel)]="playlistPosition.position" (change)="setPosition($event)">
                <option *ngFor="#p of positions" [value]="p">{{p}}</option>
            </select>
        </div>

        <div class="col-sm-4">
            <a title="Play Infos" [routerLink]="['/PlaylistPosition', {id: playlistPosition.playlistId, pos: playlistPosition.position}]">
                <small [hidden]="editModus">{{playlistPosition.name | eliminateThe}}</small>
            </a>
            <input class="form-control form-control-sm" [hidden]="!editModus" [value]="playlistPosition.name" (keydown)="handleKeyDownOnPlaylistPositionName($event)"
            (blur)="handleBlurOnPlaylistPositionName($event)">
        </div>

        <a [hidden]="editModus" class='pull-sm-right' (click)="justPlayedTheSet()" title="Just Played The Set"><i class="mdi mdi-play-circle-outline"></i></a>

        <div class="pull-sm-right  btn-toolbar playlistPositionMenu hidden-print" role="toolbar" [hidden]="!editModus">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary btn-sm"  title="Copy Playlist Position" data-toggle="modal" data-target=".copyPlaylistPosition{{playlistPosition.position}}"><i class="mdi mdi-content-copy"></i></a>
                <a class="btn btn-sm btn-secondary" (click)="deletePlaylistPosition($event)" title="Delete Playlist Position"><i class="mdi mdi-delete"></i></a>
            </div>
        </div>

    </div>
    <div class="row col-sm-12" *ngFor="#tuneSetPositionPlayInfo of playlistPosition.tuneSetPositionPlayInfos; #i = index">
        <etb-playlist-item-set-position [tuneSetPositionPlayInfo]="tuneSetPositionPlayInfo"></etb-playlist-item-set-position>
    </div>
</div>
<!--does not work yet -->
<div class="modal fade copyPlaylistPosition{{playlistPosition.position}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Choose a playlist</h4>
      </div>
      <div class="modal-body">
        <select class="form-control form-control-lg" (change)="setSelectedPlaylistId($event)">
		      <option [value]="playlist.id" *ngFor="#playlist of playlists; #i = index">{{playlist.name}} - {{playlist.band}}</option>
	  	  </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="copyPlaylistPosition()">Copy</button>
      </div>
    </div>
  </div>
</div>