<div class="row">
    <div class="col-3 ">
        <small *ngIf="!editModus">{{partPlayInfo.part}}</small>
        <input class="form-control form-control-sm" *ngIf="editModus" [(ngModel)]="partPlayInfo.part" (keydown)="handleKeyDownOnPart($event, partPlayInfo)"
            (blur)="handleBlurOnPart($event, partPlayInfo)">
    </div>
    <div class="col-9">
        <small *ngIf="!editModus">{{partPlayInfo.playInfo}}</small>
        <input class="form-control form-control-sm" *ngIf="editModus" [(ngModel)]="partPlayInfo.playInfo" (keydown)="handleKeyDownOnPartPlayInfo($event, partPlayInfo)"
            (blur)="handleBlurOnPartPlayInfo($event, partPlayInfo)">
    </div>
</div>