<div class="card col-md-1" [style.background-color]="tune.color.hex">
  
  <div class="card-header" [style.background-color]="tune.color.hex">
    <h5 class="card-title"><a [router-link]="['/Tune', {id: tune.intTuneId}]">{{tune.title | eliminateThe}}</a></h5>
    <small class="text-muted">{{tune.type}} in {{tune.key}}</small>  
  </div>
  
  <div class="card-block" [style.background-color]="tune.color.hex">
    <sampledots [tune]="tune"></sampledots>
  </div>
  
  <div class="card-footer" [style.background-color]="tune.color.hex">
    <tune-played [tune]="tune"></tune-played>
  </div>
</div>
