<div class="card col-sm-12" [style.background-color]="tuneSetPositionPlayInfo.tuneSetPosition.tune.color.hex">
    <div class="row">
        <a class="col-sm-4" 
        [routerLink]="['/tunes', tuneSetPositionPlayInfo.tuneSetPosition.tune.id]">
        {{tuneSetPositionPlayInfo.tuneSetPosition.tune.title | eliminateThe}}</a>
        
        <div class="col-sm-3">
            <small *ngIf="!editModus">{{tuneSetPositionPlayInfo.repeat}}</small>
            <input #inputTuneSetPositionPlayInfoRepeat class="form-control form-control-sm" *ngIf="editModus" 
            [(ngModel)]="tuneSetPositionPlayInfo.repeat"
            (keydown)="handleKeyDownOnTuneSetPositionPlayInfoRepeat($event)" 
            (blur)="handleBlurOnTuneSetPositionPlayInfoRepeat($event)">
        </div>
        
        <small *ngIf="!editModus" 
        class="col-sm-2 text-muted">
        {{tuneSetPositionPlayInfo.tuneSetPosition.tune.type}} in {{tuneSetPositionPlayInfo.tuneSetPosition.tune.key}}</small>

        <etb-playlist-tune-dots  *ngIf="!editModus" 
        [tune]="tuneSetPositionPlayInfo.tuneSetPosition.tune"></etb-playlist-tune-dots>
        
        <etb-tune-played  class=" pull-sm-right col-sm-3" *ngIf="!editModus" 
        [tune]="tuneSetPositionPlayInfo.tuneSetPosition.tune"></etb-tune-played>
        
    </div>

    <etb-play-info [tuneSetPositionPlayInfo]="tuneSetPositionPlayInfo"></etb-play-info>
</div>