.card {
    margin: 5px;
    padding: 5px;
}


.playlistPosition {
    min-width: 860px;
}


.tuneSetPositionPlayInfo {
    margin-left: 15px;
}

/*
.position {
    font-size: 1.2em;
}
*/


.partPlayInfo {
    margin-left: 15px;
}

/*
.part {
    margin: 5px; 
    padding: 5px; 
	font-size: 0.8em;
	min-width: 100px;
	max-width: 100px;
	display: inline-block;
	color: black;
}

.playInfo {
    margin: 5px; 
    padding: 5px; 
	font-size: 0.8em;
	min-width: 670px;
	max-width: 670px;
	display: inline-block;
	color: black;
}
*/
/*
.part {
 	font-size: 0.8em;
}

.playInfo {
	font-size: 0.8em;
}
*/

.card-block, .card-footer {
  background: lightcyan
}

a {
	cursor: pointer;
	color: darkcyan;
}

