<div class="card" [hidden]="!tuneSetPosition.currentTuneSetPositionPlayInfo.annotation && !playInfoAnnotationShown" [style.background-color]="tuneSetPosition.tune.color.hex">
  <small class="" contenteditable (keydown)="handleKeyDownOnTuneSetPositionAnnotation($event, tuneSetPosition)" (blur)="handleBlurOnTuneSetPositionAnnotation($event, tuneSetPosition)">{{tuneSetPosition.currentTuneSetPositionPlayInfo.annotation}}</small>
</div>

<etb-part-play-info-list [tune-set-position]="tuneSetPosition"></etb-part-play-info-list>