<div class="card col-xl-12" [style.background-color]="tune.color">
    <p >
        <a [router-link]="['/Tune', {id: tune.intTuneId}]">{{tune.title | eliminateThe}}</a>
        <a class='btn btn-secondary btn-sm pull-right' (click)="justPlayedTheTune()" title="Just Played The Tune"><small>Played</small></a>
    </p>
    <small class="text-muted">{{tune.type}} in {{tune.key}}</small>
    
    <small class="text-muted pull-right">{{tune.lastPlayed | fromNow}}</small>
    <sampledots [tune]="tune"></sampledots>
</div>


