
<div class="tuneColorizer pull-right">
    <small class="text-muted pull-right">Red: {{tune.color.red}}</small><input type="range" min="0" max="255" step="1" [value]="tune.color.red" (input)="changeRed($event)"/>
    <small class="text-muted pull-right">Green: {{tune.color.green}}</small><input type="range" min="0" max="255" step="1" [value]="tune.color.green" (input)="changeGreen($event)"/>
    <small class="text-muted pull-right">Blue: {{tune.color.blue}}</small><input type="range" min="0" max="255" step="1" [value]="tune.color.blue" (input)="changeBlue($event)"/>    
</div>

        
<small class="text-muted">Transpose</small>
<button class="btn btn-xs btn-secondary" (click)="tuneUp()" title="Tune Up">+</button>
<button class="btn btn-xs btn-secondary" (click)="tuneDown()" title="Tune Down">-</button>

<!--- todo: ng-really-message="Do you really want to delete the tune?" ng-really-click="deleteTune() -->
<button class="pull-right btn btn-xs btn-secondary" (click)="deleteTune()" title="Delete Tune"><i class="material-icons">delete</i></button>
