
 @media screen {
	.justPlayedTheTune {
		/*no margin, padding -> button sticks to border-line of first line*/
		min-width: 45px;
		max-width: 45px;
		display: inline-block;
		color: black;
		float: left;
	}

	.tuneColorizer {
        min-width: 200px;
		max-width: 200px;
		display: inline-block;
	}

     .tuneDeleteButton {
         min-width: 100px;
         max-width: 100px;
         display: inline-block;
     }

     .transposeButtons {
          min-width: 140px;
          max-width: 140px;
          display: inline-block;
      }



	div.colorPicker-picker {
	  display: inline-block;
	}

	
    

     .btn-xs {
		color: black;
		background: transparent;
	}

     .btn-default {
         color: black;
         background: transparent;
     }

     .played {
         font-size: 0.8em;
         margin: 0 5px;
         min-width: 200px;
         max-width: 200px;
         display: inline-block;
     }
	

     .tuneControlButtons {
         display: inline-block;
         margin: 0;
         padding: 5px;
         min-width: 820px;
         /*min-width: 520px;
         min-width: 520px;*/
         /*
         border-bottom: 1px solid #999;
         */
         /*padding: 16px 16px 16px 60px;*/
         /*border: none;*/
         /*background: rgba(0, 0, 0, 0.02);*/
         /*z-index: 2;*/
         /*box-shadow: none;*/


     }


     .dotsViewerBtn {
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25)
     }



     .dotsViewer {
         display: block;
         margin: 0;
         padding: 0;
         min-width: 820px;
         max-width: 820px;
         border: 1px solid #CCC;
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25)
     }

     .renderTheDots {
         display: block;
         padding: 20px;
         min-width: 820px;
         /*border-top: 1px solid lightgray;*/
         margin:5px;
     }
     
     /*bringt nichts*/
     /*
     .renderTheDots > svg {
         overflow: auto;
     }
     */
     
     /*Versuch, an die css-Klassen des abcjs-outputs zu kommen. erfolglos. */
     .renderTheDots .title {
         color: red;
     }
  

    .roundedPanel {
         display: block;
         /*width:100%;*/
         margin: 0px 10px 0px 0px;
         padding: 10px;
         border: 1px solid #CCC;
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25);
         min-width: 820px;
         max-width: 820px;
     }
 }
 

@media print {

	ul {
		list-style-type: none;
	}

    .tuneControlButtons, 
    .dropdown-toggle,  {
        display: none;
    }

    .btn {
        border: none;
    }
}
	

