
<div class="row">
	<div class="col-xs-2 ">
		<small class="text-muted">R: {{tune.color.red}}</small>	<br>
		<small class="text-muted">G: {{tune.color.green}}</small> <br>
		<small class="text-muted">B: {{tune.color.blue}}</small>	
	</div>
	<div class="col-xs-4">
		<input type="range" min="0" max="255" step="1" [value]="tune.color.red" (input)="changeRed($event)"/>
		<input type="range" min="0" max="255" step="1" [value]="tune.color.green" (input)="changeGreen($event)"/>
		<input type="range" min="0" max="255" step="1" [value]="tune.color.blue" (input)="changeBlue($event)"/>          
	</div>
	<div class="col-xs-3">
		<small class="text-muted">Transpose</small>
		<button class="btn btn-sm btn-secondary" (click)="tuneUp()" title="Tune Up">+</button>
		<button class="btn btn-sm btn-secondary" (click)="tuneDown()" title="Tune Down">-</button>      
	</div>
	<div class="col-xs-3">
		<!--- todo: ng-really-message="Do you really want to delete the tune?" ng-really-click="deleteTune() -->
		<button class="pull-right btn btn-sm btn-secondary" (click)="deleteTune()" title="Delete Tune"><i class="material-icons">delete</i></button>
	</div>
</div>

