<div class="row">
    <div class="col-xs-1 ">
        
    </div>

    <div class="col-xs-11">
        <div class="card col-lg-8">
            <div class="card-block">
                <etb-info-menu class="pull-right"></etb-info-menu>
                <h2>Welcome to eTuneBook</h2>
                <br>
                <p>With eTuneBook you can</p>
                <ul>
                    <li>Manage Abc tunes in your browser.</li>
                    <li>Edit tunes by editing Abc text (Tune-Editor).</li>
                    <li>Make sets out of tunes.</li>
                    <li>Make playlists out sets.</li>
                    <li>Add Repeat Time and diverse Annotations how a tune should be played whithin a playlist</li>
                    <li>View the first bars of a tune.</li>
                    <li>Remember when you last played a tune.</li>
                    <li>Label tunes with a color.</li>
                    <li>Transpose tunes.</li>
                    <li>Store links to other sites holding tune informations.</li>
                    <li>Store links to YouTube videos and view them in eTuneBook directly.</li>
                    <li>Search tunes and sets by title.</li>
                    <li>Filter tunes and sets by type, key, color, event, band.</li>
                    <li>Sort tunes and sets by id, play date, frequency. Shuffle tunes and sets.</li>
                    <li>Import Abc tunes from a File on your hard disk or from your Google Drive.</li>
                    <li>Export Abc tunes to a File on your hard disk or to your Google Drive.</li>
                </ul>
                <br>
                <p>Import/Export via local hard disk does not work on mobile iOS devices. You have to use Google Drive instead.</p>

                <p>eTuneBook is free of use. If you find it useful, please please please donate for nature conservation.</p>
            </div>
        </div>
    </div>
</div>