<div class="playlistMenu1 btn-group hidden-print">
    <etb-edit-btn></etb-edit-btn>
</div>

<div class="playlistMenu2 hidden-print">
    <div class="btn-group hidden-print">
        <a class='btn btn-secondary btn-sm' (click)="forward()" title="Next">
            <i class="mdi mdi-skip-next"></i>
        </a>
        <a class='btn btn-secondary btn-sm' (click)="backward()" title="Previous">
            <i class="mdi mdi-skip-previous"></i>
        </a>
        <a class='btn btn-secondary btn-sm' [ngClass]="{active: playlistSettings.showDots}" (click)="toggleDots()" title="Show/Hide Dots">
            <i class="mdi mdi-music-note"></i>
        </a>
    </div>
    <select title="number of bars" class="form-control" id="numberOfBarChooser" [ngModel]="numberOfBars" (ngModelChange)="changeNumberOfBars($event)">
        <option *ngFor="#n of numberOfBarOptions" [ngValue]="n">{{n}}</option>
    </select>
</div>