<div class="row">
    <div class="col-xs-1 ">
        
    </div>

    <div class="col-xs-11">
        <div class="card col-lg-8">
            <div class="card-block">
                <etb-info-menu class="pull-right"></etb-info-menu>
                <h2>Welcome to eTuneBook</h2>
                <br>
                <p>With eTuneBook you can</p>
                <ul>
                    <li>Manage your TuneBook in the Browser</li>
                    <li>Edit Abc tunes</li>
                    <li>Combine tunes to sets</li>
                    <li>Combine sets to playlists</li>
                    <li>Create gig lists</li>
                    <li>Remember when you last played a tune</li>
                    <li>Label tunes with a color</li>
                    <li>Transpose tunes</li>
                    <li>Store links to other sites such as session.org having additional information</li>
                    <li>Store links to YouTube videos and view them in eTuneBook directly. Side by Side with the dots.</li>
                    <li>Search tunes and sets by title</li>
                    <li>Filter tunes and sets by type, key, color, and playlist criteria</li>
                    <li>Sort tunes and sets by id, play date, frequency. Shuffle tunes and sets</li>
                    <li>Import Abc tunes from a File on your hard disk or from your Google Drive</li>
                    <li>Export Abc tunes to a File on your hard disk or to your Google Drive</li>
                </ul>
                <br>
                <p>eTuneBook works offline in the Browser</p>
                <ul>
                    <li>Offline except for the first loading of course</li>
                    <li>You don't need Internet connection once eTuneBook is loaded</li>
                    <li>Your TuneBook is kept in the local storage of the browser, not on the server</li>
                    <li>Since your Tunebook is only kept locally, make sure to export your book as abc file at the end of the day!</li>
                    <li>On the next day, before you start rehearsing and editing with your TuneBook, you should re-import your Tunebook. This helps to tell, whether all is ok with your abc file.</li>
                </ul>
                <br>
                <p>eTuneBook is free of use</p>
                <ul>
                    <li>If you find it useful, please please please donate for nature conservation.</li>
                    <li>Use it on your own risk. As the developer I use it every day for rehearsing and building gig lists. Thus it's stable. And useful. But as I said: On your own risk. If you export your abc file every day, the risk is low, though</li>
                </ul>
            </div>
        </div>
    </div>
</div>