.card {
    margin: 5px;
    padding: 0;
    min-width: 360px;
    max-width: 360px;
    background: #FFF5E0;
}

.card-header, .card-block, .card-footer {
  background: #FFF5E0;
}

a {
	cursor: pointer;
	color: darkcyan;
}




