<div class="card col-md-1">
  <div class="card-header">
    
    <h5 class="card-title">
        <small class="text-muted">Playlist: {{playlist.id}}</small>
        <a [router-link]="['/Playlist', {id: playlist.id}]">{{playlist.name}}</a>
        <!--
        <p class="card-text">{{playlist.name}}</p>
        -->
    </h5>
  </div>
  
  <div class="card-block">
     <p class="card-text">{{playlist.event}}</p>
  </div>
  
  <div class="card-footer">
    <p class="card-text">{{playlist.band}}</p>
  </div>
</div>
