<div class="tunelistMenu btn-group hidden-print">
    <a class="btn btn-secondary btn-sm" title="Random Sort" (click)="sortRandom()">
		<i class="mdi mdi-shuffle"></i>
	</a>
	
	<a class="btn btn-secondary btn-sm" title="Alphabetic Sort" (click)="sortTitle()">
		<i class="mdi mdi-sort-alphabetical"></i>
	</a>
    
    <a class="btn btn-secondary btn-sm" title="Numeric Sort" (click)="sortId()">
		<i class="mdi mdi-sort-numeric"></i>
	</a>
	
	<a class="btn btn-secondary btn-sm" title="Playdate Sort" (click)="sortPlaydate()">
		<i class="mdi mdi-history"></i>
	</a>
    
    <a class="btn btn-secondary btn-sm" title="Frequency Sort" (click)="sortFrequency()">
		<i class="mdi mdi-heart"></i>
	</a>
</div>