<div class="card mx-3 mb-4">
    <div class="row m-2">
        <div class="col-2">
            <a title="Play Infos" [routerLink]="['/playlist', playlistPosition.playlistId, 'position', playlistPosition.position]">
                <small *ngIf="!editModus">{{playlistPosition.position}}</small>
            </a>
            <select *ngIf="editModus"  id="positionChooser" [ngModel]="playlistPosition.position" (change)="setPosition($event)">
                <option *ngFor="let p of positions" [value]="p">{{p}}</option>
            </select>
        </div>

        <div class="col-7">
            <a title="Play Infos" [routerLink]="['/playlist', playlistPosition.playlistId, 'position', playlistPosition.position]">
                <small *ngIf="!editModus">{{playlistPosition.name | eliminateThe}}</small>
            </a>
            <input #inputPlaylistPositionName class="form-control form-control-sm" *ngIf="editModus" [(ngModel)]="playlistPosition.name"
                (keydown)="handleKeyDownOnPlaylistPositionName($event)" (blur)="handleBlurOnPlaylistPositionName($event)">
        </div>

        <a *ngIf="!editModus" class='col-3' (click)="justPlayedTheSet()" title="Just Played The Set"><i class="mdi mdi-play-circle-outline"></i></a>

        <div class="col  btn-toolbar playlistPositionMenu hidden-print" role="toolbar" *ngIf="editModus">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary btn-sm" title="Copy Playlist Position" (click)="sendPlaylistPositionToCopier()" data-toggle="modal"
                    data-target=".copyPlaylistPosition">
                    <i class="mdi mdi-content-copy"></i></a>

                <a class="btn btn-sm btn-secondary" (click)="deletePlaylistPosition()" title="Delete Playlist Position"><i class="mdi mdi-delete"></i></a>
            </div>
        </div>

    </div>

    <etb-playlist-item-set-position [tuneSetPositionPlayInfo]="tuneSetPositionPlayInfo" *ngFor="let tuneSetPositionPlayInfo of playlistPosition.tuneSetPositionPlayInfos">
    </etb-playlist-item-set-position>
</div>