<div class="row">
    <div class="col-xs-1 ">
        <etb-playlist-position-menu (showPlaylistPositionDots)="toggleDots()" [playlistPosition]="playlistPosition"></etb-playlist-position-menu>
    </div>

    <div class="col-xs-11">
        <div class="card col-xs-9">
            <div class="card-header">
                <p class="col-xs-4"> <a [routerLink]="['/Playlist', {id: playlist.id}]">{{playlist.name}}</a></p>
                <p class="col-xs-4"> {{playlist.band}} </p>
                <p class="col-xs-3"> {{playlist.event}} </p>
            </div>
            <div class="card-block">
                <etb-playlist-position-set [showDots]="showDots" [playlistPosition]="playlistPosition"></etb-playlist-position-set>
            </div>
        </div>
    </div>
</div>