<div class="card mx-3">
    <div class="row m-2">
        <div class="col-2">
            <small>{{playlistPosition.position}}</small>
        </div>

        <div class="col-7">
            <small *ngIf="!editModus">{{playlistPosition.name | eliminateThe}}</small>
            <input #inputPlaylistPositionName class="form-control form-control-sm" *ngIf="editModus" [(ngModel)]="playlistPosition.name"
                (keydown)="handleKeyDownOnPlaylistPositionName($event)" (blur)="handleBlurOnPlaylistPositionName($event)">
        </div>

        <a *ngIf="!editModus" class='col-3' (click)="justPlayedTheSet()" title="Just Played The Set"><i class="mdi mdi-play-circle-outline"></i></a>

        <div class="float-right  btn-toolbar playlistPositionMenu hidden-print" role="toolbar" *ngIf="editModus">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".copyPlaylistPosition" title="Copy Playlist Position"><i class="mdi mdi-content-copy"></i></a>
                <a class="btn btn-sm btn-secondary" (click)="deletePlaylistPosition($event)" title="Delete Playlist Position"><i class="mdi mdi-delete"></i></a>
            </div>
        </div>

    </div>

    <etb-playlist-position-set-position [tuneSetPositionPlayInfo]="tuneSetPositionPlayInfo" *ngFor="let tuneSetPositionPlayInfo of playlistPosition.tuneSetPositionPlayInfos">
    </etb-playlist-position-set-position>


    <div class="row" *ngIf="editModus || playlistPosition.annotation">
        <small *ngIf="!editModus">{{playlistPosition.annotation}}</small>
        <input #inputPlaylistPositionAnnotation class="form-control form-control-sm" *ngIf="editModus" [(ngModel)]="playlistPosition.annotation"
            (keydown)="handleKeyDownOnPlaylistPositionAnnotation($event)" (blur)="handleBlurOnPlaylistPositionAnnotation($event)">
    </div>
</div>