<div class="card mx-4" *ngFor="let partPlayInfo of tuneSetPositionPlayInfo.partPlayInfos">
    <div class="row m-1">
        <div class="col-1 btn-toolbar hidden-print" role="toolbar" *ngIf="editModus">
            
                <a class="btn btn-secondary btn-sm" (click)="addPartPlayInfoBefore(partPlayInfo)" 
                title="Add Line Above"><small>+</small></a>
        
        </div>
        
        <etb-part-play-info-list-item class="col-9" [partPlayInfo]="partPlayInfo"></etb-part-play-info-list-item>

        <div class="col-2 btn-toolbar hidden-print" role="toolbar" *ngIf="editModus">
            
                <a class="btn btn-sm btn-secondary" (click)="deletePartPlayInfo(partPlayInfo)" 
                title="Delete Part"><i class="mdi mdi-delete"></i></a>
            
                <a class="btn btn-secondary btn-sm" (click)="addPartPlayInfoAfter(partPlayInfo)" 
                title="Add Line Below"><small>+</small></a>
            
        </div>
    </div>
</div>