<div class="row">
    <div class="col-xs-1 ">

    </div>

    <div class="col-xs-10">
        <div class="card" [style.background-color]="tune.color.hex">
            
        <div class="card-header" [style.background-color]='tune.color.hex'>
            <etb-tune-abc-menu (transposeUp)="editor.renderAbc()" (transposeDown)="editor.renderAbc()" [tune]="tune"></etb-tune-abc-menu>
        </div>
        
            <div class="card-block">
                <etb-tune-abc-editor [tune]="tune" #editor></etb-tune-abc-editor>
            </div>
            <div class="card-footer">
                <etb-tune-played [tune]="tune"></etb-tune-played>
            </div>
        </div>
    </div>

</div>