<div class="tuneSetPosition" [style.background-color]="tune.color" >
    <div class="view">
        <div class="tuneFirstLine">
            <div class="btn-group">
                <a class="btn btn-default tuneTitle" (click)="showTune(tune.intTuneId)" title="Show The Dots"><strong>{{tune.title | eliminateThe}}</strong></a>
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>        
            </div>
            <div class="tuneInfoLine">
                <div class="tuneType">{{tune.type}}</div>
                <div class="tuneKey">{{tune.key}}</div>
                <!--<div class="tuneSetPositionRepeat">{{tuneSetPosition.repeat}}</div>-->
                
                <a class="btn btn-default tuneTitle" (click)="showSampleDots()" title="First Dots"><strong>First Dots</strong></a>
                
            </div>
        </div>
        <div class="tunePlayDateInfo">
            <a class='btn btn-xs btn-default justPlayedTheTune' (click)="justPlayedTheTune(tune)" title="Just Played The Tune">Played</a>
            <div class="tuneLastPlayed">{{tune.lastPlayed | fromNow}}</div>
        </div>
        <!--<div class="tuneSetPositionAnnotation" ng-show="tuneSetPosition.annotation != ''">{{tuneSetPosition.annotation}}</div>-->
    </div>
    <div id="sampleDotsViewerForTune{{tune.intTuneId}}" class="sampleDotsViewer"></div>
</div>