<div 
    class="card col-xl-12" 
    draggable="true" 
    (dragstart)="handleDragStart($event)"
    (dragenter)="handleDragEnter($event)"
    (dragover)="handleDragOver($event)"
    (dragleave)="handleDragLeave($event)"
    (drop)="handleDrop($event)"
    (dragend)="handleDragEnd($event)" 
    [style.background-color]="tune.color.hex">
    <div class="deleteArea pull-xl-right">
        <a class='delete' (click)="deleteTuneSetPosition($event)">X</a>
    </div>
        
    <p >
        <a [routerLink]="['/Tune', {id: tune.intTuneId}]">{{tune.title | eliminateThe}}</a>
        
    </p>
    <small class="text-muted">{{tune.type}} in {{tune.key}}</small>
    <etb-sampledots [tune]="tune"></etb-sampledots>
    <etb-tune-played class="pull-xl-right"[tune]="tune"></etb-tune-played>
</div>


