<div 
    class="card col-xl-12" 
    draggable="true" 
    (dragstart)="handleDragStart($event)"
    (dragenter)="handleDragEnter($event)"
    (dragover)="handleDragOver($event)"
    (dragleave)="handleDragLeave($event)"
    (drop)="handleDrop($event)"
    (dragend)="handleDragEnd($event)" 
    [style.background-color]="tune.color.hex">
    <div class="deleteArea pull-right">
        <a class='delete' (click)="deleteTuneSetPosition($event)">X</a>
    </div>
        
    <p >
        <a [router-link]="['/Tune', {id: tune.intTuneId}]">{{tune.title | eliminateThe}}</a>
        <a class='btn btn-secondary btn-sm pull-right' (click)="justPlayedTheTune()" title="Just Played The Tune">
            <small>Played</small>
        </a>
            
    </p>
    <small class="text-muted">{{tune.type}} in {{tune.key}}</small>
    
    <small class="text-muted pull-right">{{tune.lastPlayed | fromNow}}</small>
    <sampledots [tune]="tune"></sampledots>
</div>


