<div class="mdl-grid demo-content">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" [style.background-color]="tune.color">
        <div class="mdl-card__supporting-text">
            <tune-menu [tune]="tune"></tune-menu>
            <!--
            <div class="mdl-layout-spacer"></div>
            -->
            <tune-actions [tune]="tune"></tune-actions>    
        </div>
        
        <div class="mdl-card__actions mdl-card--border"></div>
        
        <div class="mdl-card__supporting-text">
            <tune-dots [tune]="tune"></tune-dots>    
        </div>
        
    </div>
</div>