<!DOCTYPE html>
<% if (BUILD_TYPE === 'dev') { %>
<html lang="en">
<% } else if (BUILD_TYPE === 'prod') { %>
<html lang="en" manifest="manifest.appcache">
<% } %>

<head>
  <base href="<%= APP_BASE %>">
  <title>
    <%= APP_TITLE %>
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Martin Fleischmann | eTuneBook">
  <meta name="keywords" content="eTuneBook, Abc Tunes">
  <meta name="description" content="eTuneBook, an application for managing abc tunes.">
  <meta name="audience" content="all">
  <meta name="robots" content="index,follow">
  <meta name="revisit-after" content="7 days">
  <meta name="page-topic" content="music, notation, repertoire">
  <link rel="shorcut icon" type="image/ico" href="img/ico/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="img/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/ico/favicon-16x16.png">
  <link rel="manifest" href="img/ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/css/materialdesignicons.min.css" rel="stylesheet">

  <!-- inject:css -->
  <!-- endinject -->

  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
      background: #e0f0f0;
    }
  </style>

</head>

<body>

  <!-- Achtung: mdi ersetzt font-awesome. font-awesome bringt aber zB. pull-right und pull-left mit
  nicht in bootstrap. pull-right und pull-left wurde deshalb nach main.css migriert.   
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  -->
  <script src="lib/js/jquery.min.js"></script>
  <script src="lib/abcjs_editor_2.3-min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <!--
  <script>
  System.registerDynamic('ABCJS', [], false, function(require, exports, module) {
    module.exports = window.ABCJS;
  });
  </script>
  -->

  <etb-app>Loading...</etb-app>

  <script defer>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= GOOGLE_ANALYTICS_ID %>', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>
  
  <!-- libs:js -->
  <!-- endinject -->
  
  <!-- inject:js -->
  <!-- endinject -->
  
  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at info@etunebook.ch');
    });
  </script>
  <% } %>

</body>
</html>