<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= APP_BASE %>">
  <title>
    <%= APP_TITLE %>
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Martin Fleischmann | eTuneBook">
  <meta name="keywords" content="eTuneBook, Abc Tunes">
  <meta name="description" content="eTuneBook, an application for managing abc tunes.">
  <meta name="audience" content="all">
  <meta name="robots" content="index,follow">
  <meta name="revisit-after" content="7 days">
  <meta name="page-topic" content="music, notation, repertoire">
  <link rel="SHORTCUT ICON" type="image/ico" href="favicon.ico">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
    rel="stylesheet">

  <!-- inject:css -->
  <!-- endinject -->

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <script src="lib/abcjs_editor_2.3-min.js"></script>
  <!--
  <script>
  System.registerDynamic('ABCJS', [], false, function(require, exports, module) {
    module.exports = window.ABCJS;
  });
  </script>
  -->

  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
      background: #e0f0f0;
    }
  </style>

</head>

<body>

  <etb-app>Loading...</etb-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
    <script>
    System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
  </script>
    <% } %>

      <!-- libs:js -->
      <!-- endinject -->

      <!-- inject:js -->
      <!-- endinject -->

      <% if (ENV === 'dev') { %>
        <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
        <% } %>

</body>

</html>