<div class="row">
    <div class="col-sm-1 "></div>
    <div class="col-sm-11">
        <div class="card col-sm-10">
            <div class="card-block">
                <a class='btn btn-secondary btn-sm' #saveTuneBookToFile id="saveTuneBookToFile" download='My TuneBook' href="" title="Export to File System">Export</a>
            </div>
            <div class="card-block">
                <label class="abc-toggle">
                    <input type="checkbox" (change)="toggleTuneSetAbc()" [(ngModel)]="abcExportSettings.tuneSet">
                    <span>TuneSets</span>
                </label>
                <label class="abc-toggle">
                    <input type="checkbox" (change)="togglePlaylistAbc()" [(ngModel)]="abcExportSettings.playlist">
                    <span>Playlists</span>
                </label>
                <label class="abc-toggle">
                    <input type="checkbox" (change)="togglePlayDateAbc()" [(ngModel)]="abcExportSettings.playDate">
                    <span>Playdates</span>
                </label>
                <label class="abc-toggle">
                    <input type="checkbox" (change)="toggleColorAbc()" [(ngModel)]="abcExportSettings.color">
                    <span>Colors</span>
                </label>
                <label class="abc-toggle">
                    <input type="checkbox" (change)="toggleAnnotationAbc()" [(ngModel)]="abcExportSettings.annotation">
                    <span>Comments</span>
                </label>
                <label class="abc-toggle">
                    <input type="checkbox" (change)="toggleSiteAbc()" [(ngModel)]="abcExportSettings.website">
                    <span>Sites</span>
                </label>
                <label class="abc-toggle">
                    <input type="checkbox" (change)="toggleTubeAbc()" [(ngModel)]="abcExportSettings.video">
                    <span>Videos</span>
                </label>
                <label class="abc-toggle">
                    <input type="checkbox" (change)="toggleFingeringAbc()" [(ngModel)]="abcExportSettings.fingering">
                    <span>Fingering</span>
                </label>
            </div>
            <div class="card-block">
                <div [ngSwitch]="isRendering">
                    <pre id="tuneBookExported" *ngSwitchCase="false">{{exportedTuneBook}}</pre>
                    <etb-spinner *ngSwitchCase="true" [isRunning]="isRendering"></etb-spinner>
                </div>
            </div>
        </div>
    </div>
</div>