.card {
    margin: 5px;
    padding: 0;
    min-width: 360px;
    max-width: 360px;
    background: #F2EBDC;
}

.card-block, .card-footer {
  background: #F2EBDC;
}

a {
	cursor: pointer;
	color: darkcyan;
}