<div class="btn-group social-nav hidden-print">
    <a class="btn btn-secondary btn-sm" href="https://twitter.com/bxplr" target="_blank" title="Martin Fleischmann on Twitter"><i class="mdi mdi-twitter"></i></a>
    <a class="btn btn-secondary btn-sm" href="https://www.facebook.com/pages/e-TuneBook/577631982265183" target="_blank" title="eTuneBook on FaceBook"><i class="mdi mdi-facebook"></i></a>
    <a class="btn btn-secondary btn-sm" href="https://www.youtube.com/user/pianoboxplayer" target="_blank" title="Martin Fleischmann on YouTube"><i class="mdi mdi-youtube-play"></i></a>
</div>